@{
    ViewData["Title"] = "Home";
}
<div class="jumbotron" style="background-image: url(@Url.CdnContent("~/img/banner.jpg"));">
    <div class="jumbotron-content">
        <h1>EJMSN</h1>
        <p class="lead">&raquo; Find product</p>
        <p class="lead">&raquo; Add to account</p>
        <p class="lead">&raquo; Purchase!</p>
    </div>
</div>